<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>技师选择</title>
    <link rel="stylesheet" type="text/css" href="http://unpkg.com/iview/dist/styles/iview.css">
    <link rel="stylesheet" type="text/css" href="../css/overlay.css">
    <style>
        #app {
            font-family: Cursive;
        }
        .circle {
            width: 40px;
            height: 40px;
            border-radius: 150px;
            margin:auto;
            border: 1px solid #D5B32B;
            text-align: center;
            line-height: 40px;
            color: #D5B32B;
        }
    </style>
</head>

<body>
    <div id="app" style="background:#eee; padding-top: 10px; padding-bottom: 10px;">
        <row>
            <card :bordered="false" dis-hover>
                <row>请选择预约时间:</row>
                <row :gutter="16" type="flex" justify="space-between">
                    <i-col span="11" offset="1">
                        <time-picker v-model="timePick" format="HH:mm" placeholder="选择预约时间" :steps="[1, 15, 1]" confirm
                            style="width: 120px"></time-picker>
                    </i-col>
                    <i-col span="12">
                        <i-select @on-change="select_service" v-model="selector" placeholder="选择服务">
                            <i-option v-for="service in serviceList" :value="service.value" :key="service.value">{{
                                service.label }}</i-option>
                        </i-select>
                    </i-col>
                </row>
            </card>
        </row>

        <row style="margin-top: 10px">
            <card :bordered="false" dis-hover>
                <row :gutter="2">
                    <i-col span="6">
                        <i-button v-bind:type="button_type[0]" @click="sort_by(0,'rate')" long>评价</i-button>
                    </i-col>
                    <i-col span="6">
                        <i-button :type="button_type[1]"  long>人气</i-button>
                    </i-col>
                    <i-col span="6">
                        <i-button :type="button_type[2]" long>级别</i-button>
                    </i-col>
                    <i-col span="6">
                        <i-button :type="button_type[3]" @click="sort_by(3,'state')" long>状态</i-button>
                    </i-col>
                </row>
            </card>
        </row>

        <row style="margin-top: 6px" v-for="item in list" v-show="item.show">
            <card :bordered="false" dis-hover>
                <row type="flex" justify="space-between" align="middle" :gutter="16">
                    <i-col span="5">
                        <row type="flex">
                            <i-col span="24">
                                <div style="text-align: center">
                                    <img :src="item.avatar_url" style="height: 60px; width: 60px; border-radius: 50px;" />
                                </div>
                            </i-col>
                        </row>
                        <row>
                            <i-col span="24">
                                <p style="text-align: center; font-size: 12px; color: gray;">
                                    {{ item.job_number }}号
                                </p>
                            </i-col>
                        </row>
                    </i-col>

                    <i-col span="15">
                        <row style="margin-top: -10px" type="flex" align="bottom">
                            <i-col span="18">
                                <rate show-text allow-half v-model="item.rate" disabled style="font-size: 15px">
                                    <span style="color: #f5a623; margin-left: -20px">{{ item.rate }}分</span>
                                </rate>
                            </i-col>
                            <i-col span="6">
                                <p style="font-size: 10px; color: #19be6b;">
                                    <!--{{ item.price }}元/钟-->
                                </p>
                            </i-col>
                        </row>
                        <row :gutter="2">
                            <i-col span="8"><img :src="item.photo_list[0]" style="height: 65px; width: 65px;" /></i-col>
                            <i-col span="8"><img :src="item.photo_list[1]" style="height: 65px; width: 65px;" /></i-col>
                            <i-col span="8"><img :src="item.photo_list[2]" style="height: 65px; width: 65px;" /></i-col>
                        </row>
                    </i-col>

                    <i-col span="4">
                        <div class="circle" :style="{'font-size': (item.state === 1 ? '10' : '12') + 'px'}">
                            {{ item.state === 1 ? '不可选' : '可选' }}
                        </div>
                    </i-col>
                </row>
                <row type="flex" justify="start" style="margin-top: 5px" :gutter="16">
                    <i-col span="5">
                        <p style="text-align: center">
                            {{ item.description }}
                        </p>
                    </i-col>
                    <i-col span="15">
                        <p>
                            当前状态: <span :style="{color: item.state === 1 ? '#ed4014' : '#19be6b' }">{{ item.state === 1
                                ? '繁忙' : '空闲' }}</span>
                        </p>
                    </i-col>
                </row>
            </card>
        </row>
        <back-top></back-top>
        <div id="modal-overlay" v-show="overlay">
            <div class="modal-data">
                <img src="../src/loading.gif" />
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
<script type="text/javascript" src="http://unpkg.com/iview/dist/iview.min.js"></script>
<!--<script src="https://cdn.bootcss.com/iview/2.14.0/iview.min.js"></script>-->
<script>
    let Main = {
        data() {
            return {
                overlay:true,
                button_type:[
                    "default",
                    "default",
                    "default",
                    "default",
                ],
                timePick: new Date(),
                vip_discount: 100,
                serviceList: [{
                    value: -1,
                    label: "全部",
                    info: "",
                    duration: 0,
                    price: 0,
                    discount: 100,
                }],
                selector: null,
                list: [{
                    avatar_url: 'https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=3637558653,1735813698&fm=58',
                    job_number: 'AKB48',
                    description: '网红技师',
                    photo_list: [
                        'https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=3382581011,2165830761&fm=58',
                        'https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=2090470704,2601273190&fm=58',
                        'https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=299702052,510253287&fm=58',
                    ],
                    rate: 4.2,
                    price: 199,
                    state: 1,
                    show: false,
                    skills: [],
                }, ]
            }
        },
        methods: {
            button_click(idx){
                for(var i=0;i<this.button_type.length;i++){
                    if(i==idx)this.button_type[i] = "primary"
                    else this.button_type[i] = "default"
                }
            },
            select_service() {
                var that = this;
                var val = that.selector;
                if (val != -1) {
                    for (var i = 0; i < that.list.length; i++) {
                        var sk = that.list[i].skills;
                        console.log(sk);
                        that.list[i].show = false;
                        for (var j = 0; j < sk.length; j++) {
                            if (sk[j]['service_id'] == val) {
                                that.list[i].show = true;
                            }
                        }
                    }
                } else {
                    for (var i = 0; i < that.list.length; i++) {
                        that.list[i].show = true;
                    }
                }
            },
            sort_by(idx,keyName) {
                this.button_click(idx);
                var that = this;
                var sort = function (keyName) {
                    return function (objectN, objectM) {
                        var valueN = objectN[keyName]
                        var valueM = objectM[keyName]
                        if (valueN < valueM) return 1
                        else if (valueN > valueM) return -1
                        else return 0
                    }
                }
                this.list.sort(sort(keyName));
            },
        },
        created() {
            var that = this;
            $.post("../php/getservice.php").done((result) => {
                result = JSON.parse(result);
                if (result.status) {
                    for (var i = 0; i < result.data.length; i++) {
                        var service = result.data[i];
                        that.serviceList.push({
                            value: service['ID'],
                            label: service['name'],
                            info: service['info'],
                            duration: service['duration'],
                            price: service['price'],
                            discount: service['discount'],
                        })
                    }
                }
            });
            $.post("../php/getalltech.php").done((result) => {
                result = JSON.parse(result);
                for (var i = 0; i < result.data.length; i++) {
                    var tech = result.data[i];
                    that.list.push({
                        avatar_url: tech.avatar_url,
                        job_number: tech.job_number,
                        //description: '网红技师',
                        photo_list: tech.photo_list,
                        rate: tech.rate,
                        state: 2,
                        skills: tech.skill,
                        show: true
                    })
                }
                that.overlay = false;
            })
        }
    };
    let Component = Vue.extend(Main);
    let app = new Component().$mount('#app');
</script>

</html>