<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link href="../css/iview.css" rel="stylesheet">
    <title>历史订单</title>
    <link rel="stylesheet" href="../css/weui-min.css" />
    <link rel="stylesheet" href="../css/example.css" />
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" type="text/css" href="../css/overlay.css">

    <!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->

    <style>
        #panel {
            padding: 8px;

        }

        #list-item {
            margin-bottom: 8px;
        }
        .ivu-tabs-nav .ivu-tabs-tab{
            padding: 8px 6px;
        }
        .ivu-tabs-tab{
            font-family: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
            line-height: normal;
        }
    </style>
</head>

<body>
    <div class="weui-tab" id="app">
        <div class="weui-tab__panel" id="panel">
            <!-- <div class="page__hd" style="display: flex;align-items: center;justify-content: space-between"> -->
            <!-- <h4 class="page__title">我的评价</h4> -->
            <!-- <i-select v-model="model1" style="width:200px">
                <i-option v-for="item in iot" :value="item.value" :key="item.value">{{ item.label }}</i-option>
            </i-select> -->
            <!-- <a @click="picker()" href="javascript:;" class="weui-btn weui-btn_default" style="width: 200px;">快速查找</a> -->
            <!-- </div> -->


            <!--<el-tabs v-model="activeName" @tab-click="handleClick">-->
            <!--<el-tab-pane label="全部" name="first">全部</el-tab-pane>-->
            <!--<el-tab-pane label="待付款" name="second">待付款</el-tab-pane>-->
            <!--<el-tab-pane label="待消费" name="third">待消费</el-tab-pane>-->
            <!--<el-tab-pane label="待评价" name="fourth">待评价</el-tab-pane>-->
            <!--<el-tab-pane label="售后" name="fifth">售后</el-tab-pane>-->
            <!--</el-tabs>-->


            <row>
                <tabs value="name4">
                    <tab-pane label="待付款" name="name2">
                        <div class="weui-form-preview" v-for="od in nopay" id="list-item">
                            <div v-if="od.show">
                                <div class="weui-form-preview__hd">
                                    <div class="weui-form-preview__item">
                                        <label class="weui-form-preview__label">预约时间</label>
                                        <em class="weui-form-preview__value" v-text="date('Y-m-d H:i',od.appoint_time)"></em>
                                    </div>
                                </div>
                                <div class="weui-form-preview__bd">
                                    <div class="weui-form-preview__item">
                                        <label class="weui-form-preview__label">消费金额</label>
                                        <span class="weui-form-preview__value" v-text="'￥'+od.pay_amount/100"></span>
                                    </div>
                                    <div class="weui-form-preview__item">
                                        <label class="weui-form-preview__label">订单号</label>
                                        <span class="weui-form-preview__value" v-text="od.order_id"></span>
                                    </div>
                                    <div class="weui-form-preview__item">
                                        <label class="weui-form-preview__label">状态</label>
                                        <span class="weui-form-preview__value" style="color: red" v-text="'待付款'"></span>
                                    </div>
                                </div>
                                <div class="weui-form-preview__ft">
                                    <a class="weui-form-preview__btn weui-form-preview__btn_primary" @click="pay_order(od.order_id,od.pay_amount)">支付</a>
                                    <a class="weui-form-preview__btn weui-form-preview__btn_primary" @click="del_appo(od.order_id)">删除订单</a>
                                </div>
                            </div>
                        </div>
                        <div style="margin-bottom: 50px"></div>
                    </tab-pane>
                    <tab-pane label="待评价" name="name4">
                        <div class="page__bd">
                            <div class="weui-form-preview" v-for="od in pay" id="list-item">
                                <div v-if="od.show">
                                    <div class="weui-form-preview__hd">
                                        <div class="weui-form-preview__item">
                                            <label class="weui-form-preview__label">时间</label>
                                            <em class="weui-form-preview__value" v-text="date('Y-m-d H:i',od.generated_time)"></em>
                                        </div>
                                    </div>
                                    <div class="weui-form-preview__bd">
                                        <div class="weui-form-preview__item">
                                            <label class="weui-form-preview__label">消费金额</label>
                                            <span class="weui-form-preview__value" v-text="'￥'+od.pay_amount/100"></span>
                                        </div>
                                        <div class="weui-form-preview__item">
                                            <label class="weui-form-preview__label">订单号</label>
                                            <span class="weui-form-preview__value" v-text="od.order_id"></span>
                                        </div>
                                        <div class="weui-form-preview__item">
                                            <label class="weui-form-preview__label">状态</label>
                                            <span class="weui-form-preview__value" style="color: red" v-text="'待评价'"></span>
                                        </div>
                                    </div>
                                    <div class="weui-form-preview__ft">
                                        <a class="weui-form-preview__btn weui-form-preview__btn_primary" @click="detail(od.order_id)">查看详情</a>
                                        <a class="weui-form-preview__btn weui-form-preview__btn_primary" @click="del(od.order_id)">删除记录</a>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-bottom: 50px"></div>
                        </div>
                    </tab-pane>
                    <tab-pane label="评价完成" name="name5">
                        <div class="weui-form-preview" v-for="od in com" id="list-item">
                            <div v-if="od.show">
                                <div class="weui-form-preview__hd">
                                    <div class="weui-form-preview__item">
                                        <label class="weui-form-preview__label">时间</label>
                                        <em class="weui-form-preview__value" v-text="date('Y-m-d H:i',od.generated_time)"></em>
                                    </div>
                                </div>
                                <div class="weui-form-preview__bd">
                                    <div class="weui-form-preview__item">
                                        <label class="weui-form-preview__label">消费金额</label>
                                        <span class="weui-form-preview__value" v-text="'￥'+od.pay_amount/100"></span>
                                    </div>
                                    <div class="weui-form-preview__item">
                                        <label class="weui-form-preview__label">订单号</label>
                                        <span class="weui-form-preview__value" v-text="od.order_id"></span>
                                    </div>
                                    <div class="weui-form-preview__item">
                                        <label class="weui-form-preview__label">状态</label>
                                        <span class="weui-form-preview__value" style="color: red" v-text="'完成'"></span>
                                    </div>
                                </div>
                                <div class="weui-form-preview__ft">
                                    <a class="weui-form-preview__btn weui-form-preview__btn_primary" @click="detail(od.order_id)">查看详情</a>
                                    <a class="weui-form-preview__btn weui-form-preview__btn_primary" @click="comment(od.order_id)">查看评价</a>
                                    <a class="weui-form-preview__btn weui-form-preview__btn_primary" @click="del(od.order_id)">删除记录</a>
                                </div>
                            </div>
                        </div>
                        <div style="margin-bottom: 50px"></div>
                    </tab-pane>
                </tabs>
            </row>
        </div>
        <div class="weui-tabbar">
            <a href="../html/index.html" class="weui-tabbar__item">
                <img src="../src/主页.png" data-original="../src/主页.png" alt="" class="weui-tabbar__icon">
                <p class="weui-tabbar__label">首页</p>
            </a>
            <a href="../html/order.html" class="weui-tabbar__item weui-bar__item_on">
                <img src="../src/订单激活.png" data-original="../src/订单激活.png" alt="" class="weui-tabbar__icon">
                <p class="weui-tabbar__label">订单</p>
            </a>
            <a href="../html/customer.html" class="weui-tabbar__item">
                <img src="../src/我的.png" data-original="../src/我的激活.png" alt="" class="weui-tabbar__icon">
                <p class="weui-tabbar__label">我的</p>
            </a>
        </div>
        <div id="modal-overlay" v-show="overlay">
            <div class="modal-data">
                <img src="../src/loading.gif" />
            </div>
        </div>
    </div>
</body>


<!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->


<script type="text/javascript" src="../js/jweixin.js"></script>
<script type="text/javascript" src="../js/weui-min.js"></script>
<script type="text/javascript" src="../js/jquery.js"></script>
<script src="../js/vue.js"></script>

<!--<script type="text/javascript" src="../vendor/iview/dist/iview.min.js"></script>-->
<script type="text/javascript" src="../js/iview.min.js"></script>

<script type="text/javascript" src="../js/windowOpen.js"></script>
<script type="text/javascript" src="../js/date-format.js"></script>
<script type="text/javascript">
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }

    let app = new Vue({
        el: "#app",
        data: {
            activeName: 'first',
            nopay: [],
            pay: [],
            com: [],
            overlay: true,
            selector: null,
        },
        methods: {
            handleClick(tab, event) {
                console.log(tab, event);
            },
            select_service() {
                var val = this.selector;
                if (val == 0) {
                    for (var i = 0; i < this.order.length; i++) {
                        this.order[i].show = true;
                    }
                    return
                } else {
                    for (var i = 0; i < this.order.length; i++) {
                        if (this.order[i].state == val) {
                            this.order[i].show = true;
                        } else {
                            this.order[i].show = false;
                        }
                    }
                }
            },
            detail(id) {
                window.location.href = 'dingdanxiangqing.html?id=' + id
            },
            comment(id) {
                window.location.href = 'my-rate.html?id=' + id
            },
            //支付预约订单
            pay_order(id, pay) {
                var url = encodeURIComponent(window.location.href + "?order_id=" + id);
                //金额单位以 分 表示
                window.location.href = "http://1.jthysm.com/dashang/example/jsapiyy.php?pay=" + pay +
                    "&backurl=" + url
            },
            //数据库里删除预约订单
            del_appo(id) {

            },
            //让某个订单不显示
            del(id) {
                $(this).openWindow("", "确认删除吗？该操作无法复原", ["不", "好的"], () => {
                    $.post("../php/delete_sv_order.php", {
                        order_id: id
                    }).done((res) => {
                        res = JSON.parse(res);
                        if (res.tatus == 1) {

                        }
                    })
                    for (var i = 0; i < this.order.length; i++) {
                        if (this.order[i]['ID'] == id) {
                            this.order.splice(i, 1)
                        }
                    }
                })
            }
        },
        created() {
            var that = this;
            var payret = getQueryString('payret');
            if (payret === "" || payret === undefined || payret == null) {
                $.post("../php/getbrieforder.php", {
                    openid: 1 //open_id为微信用户的open_id
                }).done((res) => {
                    res = JSON.parse(res);
                    console.log(res);
                    that.nopay = res.nopay;
                    that.pay = res.pay;
                    that.com = res.com;
                    that.overlay = false;
                })
            } else if (payret === "1") {
                $.post("../php/pay_unpaid.php",{
                    order_id:getQueryString('order_id')
                }).done((res)=>{
                    window.location.href = "order.html"
                })
            } else if (payret === "2") {
                window.location.href = "order.html";
            }

        }
    })
    $(function () {
        $('.weui-tabbar__item').on('click', function () {
            $(this).addClass('weui-bar__item_on').siblings('.weui-bar__item_on').removeClass(
                'weui-bar__item_on');
            $(this).children('.weui-tabbar__icon').attr("src", $(this).children('.weui-tabbar__icon').attr(
                'data-original'));
        });
    });
</script>

</html>