<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <!-- <link href="https://cdn.bootcss.com/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet"> -->
    <link href="https://cdn.bootcss.com/iview/2.14.0/styles/iview.css" rel="stylesheet">
    <title>历史订单</title>
    <link rel="stylesheet" href="../css/weui-min.css" />
    <link rel="stylesheet" href="../css/example.css" />
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" type="text/css" href="../css/overlay.css">
    <style>
        #panel {
        padding: 8px;

    }
    #list-item {
        margin-bottom: 8px;
    }
    </style>
</head>

<body>
    <div class="weui-tab" id="app">
        <div class="weui-tab__panel" id="panel">
            <!-- <div class="page__hd" style="display: flex;align-items: center;justify-content: space-between"> -->
            <!-- <h4 class="page__title">我的评价</h4> -->
            <!-- <i-select v-model="model1" style="width:200px">
                    <i-option v-for="item in iot" :value="item.value" :key="item.value">{{ item.label }}</i-option>
                </i-select> -->
            <!-- <a @click="picker()" href="javascript:;" class="weui-btn weui-btn_default" style="width: 200px;">快速查找</a> -->
            <!-- </div> -->
            <row>
                <card :bordered="false" dis-hover style="margin-bottom: 8px">
                    <row :gutter="16" type="flex" justify="center">
                        <i-col span="24">
                            <i-select size="large" @on-change="select_service" v-model="selector" placeholder="快速查找"
                                style="width: 100%;">
                                <i-option v-for="service in serviceList" :value="service.value" :key="service.value">
                                    {{service.label }}
                                </i-option>
                            </i-select>
                        </i-col>
                    </row>
                </card>
            </row>
            <div class="page__bd">
                <div class="weui-form-preview" v-for="od in order" id="list-item">
                    <div v-if="od.show">
                        <div class="weui-form-preview__hd">
                            <div class="weui-form-preview__item">
                                <label class="weui-form-preview__label">时间</label>
                                <em class="weui-form-preview__value" v-text="od.time"></em>
                            </div>
                        </div>
                        <div class="weui-form-preview__bd">
                            <div class="weui-form-preview__item">
                                <label class="weui-form-preview__label">技师</label>
                                <span class="weui-form-preview__value"><a href="#" style="color:#ee5e7b;" v-text="od.job_number"></a></span>
                            </div>
                            <div class="weui-form-preview__item">
                                <label class="weui-form-preview__label">消费金额</label>
                                <span class="weui-form-preview__value" v-text="'￥'+od.price"></span>
                            </div>
                            <div class="weui-form-preview__item">
                                <label class="weui-form-preview__label">订单号</label>
                                <span class="weui-form-preview__value" v-text="od.order_id"></span>
                            </div>
                            <div class="weui-form-preview__item">
                                <label class="weui-form-preview__label">状态</label>
                                <span class="weui-form-preview__value" style="color: red" v-text="od.state"></span>
                            </div>
                        </div>
                        <div class="weui-form-preview__ft">
                            <a class="weui-form-preview__btn weui-form-preview__btn_primary" @click="detail(od.order_id)">查看详情</a>
                            <a class="weui-form-preview__btn weui-form-preview__btn_primary"
                                @click="comment(od.order_id)">查看评价</a>
                        </div>
                    </div>
                </div>
                <div style="margin-bottom: 50px"></div>
            </div>
        </div>
        <div class="weui-tabbar">
            <a href="../html/index.html" class="weui-tabbar__item">
                <img src="../src/主页.png" data-original="../src/主页.png" alt="" class="weui-tabbar__icon">
                <p class="weui-tabbar__label">首页</p>
            </a>
            <a href="../html/order.html" class="weui-tabbar__item weui-bar__item_on">
                <img src="../src/订单激活.png" data-original="../src/订单激活.png" alt="" class="weui-tabbar__icon">
                <p class="weui-tabbar__label">订单</p>
            </a>
            <a href="../html/我的.html" class="weui-tabbar__item">
                <img src="../src/我的.png" data-original="../src/我的激活.png" alt="" class="weui-tabbar__icon">
                <p class="weui-tabbar__label">我的</p>
            </a>
        </div>
        <div id="modal-overlay" v-show="overlay">
            <div class="modal-data">
                <img src="../src/loading.gif" />
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../js/jweixin.js"></script>
<script type="text/javascript" src="../js/example.js"></script>
<script type="text/javascript" src="../js/weui-min.js"></script>
<script type="text/javascript" src="../js/zepto.js"></script>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/echarts-simple-min.js"></script>
<script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
<script type="text/javascript" src="../vendor/iview/dist/iview.min.js"></script>
<script type="text/javascript" src="../js/windowOpen.js"></script>
<script type="text/javascript">
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }
    let app = new Vue({
        el: "#app",
        data: {
            order: [],
            overlay: true,
            serviceList: [{
                    label: '全部',
                    value: 0
                },
                {
                    label: '预约',
                    value: '预约'
                },
                {
                    label: '服务中',
                    value: '服务中'
                },
                {
                    label: '等待支付',
                    value: '等待支付'
                },
                {
                    label: '支付完成',
                    value: '支付完成'
                },
            ],
            selector: null,
        },
        methods: {
            select_service() {
                var val = this.selector;
                if (val == 0) {
                    for (var i = 0; i < this.order.length; i++) {
                        this.order[i].show = true;
                    }
                    return
                } else {
                    for (var i = 0; i < this.order.length; i++) {
                        if (this.order[i].state == val) {
                            this.order[i].show = true;
                        } else {
                            this.order[i].show = false;
                        }
                    }
                }
            },
            detail(id) {
                window.location.href = 'dingdanxiangqing.html?id=' + id
            },
            comment(id) {
                window.location.href = 'my-rate.html?id=' + id
            },
        },
        created() {
            var that = this;
            $.post("../php/getbrieforder.php").done((res) => {
                res = JSON.parse(res);
                console.log(res);
                for (var i = 0; i < res.length; i++) {
                    that.order.push({
                        job_number: res[i]['job_number'],
                        price: res[i]['price'],
                        order_id: res[i]['order_id'],
                        state: res[i]['state'],
                        time: res[i]['time'],
                        show: true
                    });
                    if (that.order[i].state == 0) that.order[i].state = "订单取消"
                    else if (that.order[i].state == 1) that.order[i].state = "预约"
                    else if (that.order[i].state == 2) that.order[i].state = "服务中"
                    else if (that.order[i].state == 3) that.order[i].state = "等待支付"
                    else if (that.order[i].state == 4) that.order[i].state = "支付完成"
                    else that.order[i].state = "评价完成"

                    that.order[i]['show'] = true;
                    that.overlay = false;
                }
            })
        }
    })
    $(function () {
        $('.weui-tabbar__item').on('click', function () {
            $(this).addClass('weui-bar__item_on').siblings('.weui-bar__item_on').removeClass(
                'weui-bar__item_on');
            $(this).children('.weui-tabbar__icon').attr("src", $(this).children('.weui-tabbar__icon').attr(
                'data-original'));
        });
    });
</script>

</html>